# direnv: 001
# inanepain/composer
# version: $Id$
# date: $Date$

#*********************************************
### CONFIGURATION
##############################################
layout php

#*********************************************
### OPTIONS
##############################################
export ic_name="composer"

#*********************************************
### SCRIPT
##############################################
echo "Environment: ${ic_name}"

#*********************************************
